<div class="contact">
    <div class="container">
        <div class="row pt-3">
            <div class="col-md-3 ">
                <div class="tai-khoan">
                    <div class="nho">
                        <img src="./images/avt.jpg" alt=""> <span> <strong>Võ Công Tuấn Lộc</strong>  </span>
                    </div>
                    <div class="nho">
                        <ul style=" padding-left: 0px; ">
                            <li> <a class="nut1"><i class="far fa-user-circle"></i> <span>Thông tin tài khoản</span></a>  </li>
                            <li> <a class="nut2"><i class="fal fa-cart-plus"></i> <span>Quản lý đơn hàng</span> </a> </li>
                            <li> <a class="nut3"><i class="fal fa-map-marked-alt"></i> <span>Số địa chỉ</span></a> </li>
                            <li> <a class="nut4"><i class="fal fa-bell-on"></i><span>Thông báo</span></a> </li>
                            <li> <a class="nut5"><i class="fal fa-typewriter"></i> <span>Bản tin</span></a> </li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="ui col-md-9 ">
                <div class="lol3">
                    <div class="anh" style="text-align: center;">
                        <img src="./images/khong.png" alt=""><br><br>
                        <p>Bạn chưa có thông báo mới</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>