<div class="contact">
    <div class="container">
        <div class="row pt-3">
            <div class="col-md-3 ">
                <div class="tai-khoan">
                    <div class="nho">
                        <img src="./images/avt.jpg" alt=""> <span> <strong>Võ Công Tuấn Lộc</strong>  </span>
                    </div>

                    <div class="nho">
                        <ul style=" padding-left: 0px; ">
                            <li> <a class="nut1"><i class="far fa-user-circle"></i> <span>Thông tin tài khoản</span></a>  </li>
                            <li> <a class="nut2"><i class="fal fa-cart-plus"></i> <span>Quản lý đơn hàng</span> </a> </li>
                            <li> <a class="nut3"><i class="fal fa-map-marked-alt"></i> <span>Số địa chỉ</span></a> </li>
                            <li> <a class="nut4"><i class="fal fa-bell-on"></i><span>Thông báo</span></a> </li>
                            <li> <a class="nut5"><i class="fal fa-typewriter"></i> <span>Bản tin</span></a> </li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="ui col-md-9 ">

                <div class="row ">
                    <div class="pus">
                        <i class="far fa-angle-left"></i> <span> <b>ĐƠN HÀNG: 21121239180920</b> </span>
                    </div>
                </div>

                <div class="row ">
                    <div class="col-md-6 " style=" padding-left: 0px; ">
                        <div class="pas">
                            <ul style="padding-left: 0px; ">
                                <li class="mb-2"> <strong>Thông tin người nhận</strong> </li>
                                <li><strong>Người nhận:</strong> Vo Cong Tuan Loc</li>
                                <li><strong>Hình thức nhận hàng:</strong> Giao hàng tiêu chuẩn</li>
                                <li><strong>Địa chỉ:</strong> 01 ngọ, Phường 02, Quận 10, Thành phố Hồ Chí Minh</li>
                                <li><strong>Điện thoại:</strong>0939838338</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 " style=" padding-left: 0px;padding-right: 0px; ">
                        <div class="pas">
                            <ul style="padding-left: 0px; ">
                                <li class="mb-2"> <strong>Thông tin đơn hàng</strong> </li>
                                <li><strong>Trạng thái đơn hàng:</strong> Đã hủy</li>
                                <li><strong>Thời gian tạo:</strong> 01:12:01 12/12/2021</li>

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="bic">
                        <div class="tex mb-3">
                            <span>Sản phẩm</span>
                        </div>
                        <div class="viv">
                            <p style=" margin-bottom: 10px; "> <strong>Vận đơn 1: 21121239180920-30</strong> <span>ĐÃ HỦY</span></p>
                            <p><a href="#">Xem chi tiết vận đơn <i class="far fa-angle-right"></i></a></p>
                        </div>
                        <div class="sku">
                            <div class="row mt-4">
                                <div class="col-md-9 ">
                                    <div class="so">
                                        <img src="./images/product1.jpg" alt="">
                                    </div>
                                    <div class="so">
                                        <ul style=" padding-left: 15px; ">
                                            <li>Điện thoại di động Xiaomi 11 Lite 5G NE (8GB/128GB) (Xanh dương)</li>
                                            <li>SKU: 211006516</li>
                                            <li>Cung cấp bởi <a href="">Phong Vũ</a> </li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-3 ">
                                    <div class="si">
                                        <ul>
                                            <li> <strong>8.880.000đ</strong> </li>
                                            <li class="gach">  9.890.000đ  </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="nic">
                        <div class="row">
                            <div class="col-md-7 ">
                                <!-- ----------------------Trống------------------------------- -->
                            </div>
                            <div class="col-md-5  text-right">
                                <table>
                                    <tr>
                                        <td>Tổng tạm tính</td>
                                        <td class="y"> <strong>8.880.000 đ</strong> </td>
                                    </tr>
                                    <tr>
                                        <td>Phí vận chuyển	</td>
                                        <td class="y"> <strong>0 đ</strong> </td>
                                    </tr>
                                    <tr>
                                        <td>Giảm giá</td>
                                        <td class="y"> <strong>0 đ</strong> </td>
                                    </tr>
                                    <tr>
                                        <td>Thành tiền	</td>
                                        <td class="tt"> 8.880.000 đ </td>
                                    </tr>
                                    <tr>
                                        <td>	</td>
                                        <td>(Đã bao gồm VAT)</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="pt">
                        <p class="po">Phương thức thanh toán</p>
                        <hr>
                        <div class="row">
                            <div class="col-md-6 v">
                                <p>Thanh toán khi nhận hàng</p>
                            </div>
                            <div class="col-md-6 text-right  v">
                                <p>
                                    <strong> 8.880.000đ</strong>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>