<div class="contact">
    <div class="container">
        <div class="row ">
            <div class="col-md-1">
            </div>
            <div class="col-md-9">

                <div class="d-flex flex-row bd-highlight mb-3">
                    <div class="p-0 bd-highlight"><a href="#">Trang chủ</a> <span>/</span></div>
                    <div class="p-0 pl-2 bd-highlight"><a href="#">Tin tức</a> <span>/</span></div>
                    <div class="p-0 pl-2 bd-highlight"><a href="#">Khuyến mãi</a></div>
                </div>

            </div>
            <div class="col-md-2">
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-9">
                <div class="tieu_de">
                    <h2>Mua laptop, đến FPT Shop: giảm đến 4 triệu, giao hàng tận nhà miễn phí</h2>
                </div>
            </div>
            <div class="col-md-2">
            </div>

        </div>
        <div class="row mt-4">
            <div class="col-md-1">
            </div>
            <div class="col-md-9">
                <div class="thong_tin">

                    <div class="d-flex flex-row bd-highlight mb-3">
                        <div class="p-0 bd-highlight"><img src="./images/dung1.png" alt=""> </div>
                        <div class="p-2 bd-highlight">Vo Cong Tuan Loc</div>
                        <div class="p-2 bd-highlight">17 giờ trước</div>
                        <div class="p-2 bd-highlight"><a href="#"><i class="fas fa-comments"></i> <span>3 Bình luận</span> </a></div>
                    </div>

                </div>
                <hr>
            </div>
            <div class="col-md-2">
            </div>

        </div>
        <div class="row">
            <div class="col-md-1">
            </div>

            <div class="col-md-9">
                <p>
                    <strong>
                        Tất cả laptop tại FPT Shop đều là hàng chính hãng thuộc những thương
                        hiệu nổi tiếng thế giới như: Asus, Acer, HP, Lenovo, MSI, Dell...
                        và có thể đáp ứng mọi yêu cầu của bạn: laptop gaming, laptop văn phòng,
                        laptop sinh viên, laptop doanh nhân.
                    </strong>
                </p>
                <hr>
            </div>
            <div class="col-md-2">
            </div>

        </div>
        <div class="row">
            <div class="col-md-1">
            </div>

            <div class="col-md-9">
                <div class="link_hay">
                    <ul style="padding-left: 0px;">
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                                <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                            </svg> <span><a href="">Cơ hội có 1-0-2: FPT Shop mạnh tay giảm đến 3,5 triệu cho sản phẩm Apple chính hãng</a></span>
                        </li>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                                <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                            </svg> <span><a href="">FPT Shop giảm sốc đến 50%, chỉ 3 ngày cuối tuần 12 - 13 - 14/11</a></span>
                        </li></li>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                                <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                            </svg> <span><a href="">FPT Shop giảm thêm 200.000 đồng cho smartphone Tecno, giá rẻ bất ngờ!</a></span>
                        </li></li>
                    </ul>
                </div>
                <hr>
            </div>
            <div class="col-md-2">
            </div>

        </div>
        <div class="row">
            <div class="col-md-1">
            </div>

            <div class="col-md-9">
                <!-- ========== NỘI DUNG ================== -->
                <div class="noi_dung">
                    <figure><img src="https://images.fpt.shop/unsafe/filters:quality(90)/fptshop.com.vn/uploads/images/tin-tuc/140781/Originals/Branding-VuCo-%20(25).jpg" /></figure>
                    Tháng 11 này, FPT Shop  thực hiện chuỗi ưu đãi đặc biệt đáp ứng nhu cầu ngày càng cao của người tiêu dùng:
                    <br><br>
                    <strong>1. Chương trình <a href="canphaibogapbanngaylaptuc">Back to school</a></strong>
                    <br><br>
                    Khách hàng là học sinh - sinh viên khi mua laptop tại FPT Shop sẽ được nhận những đặc quyền: bảo hành đến 3 năm, giảm giá đến 15% (khi trả tthẳng), trả góp 0% lãi suất... Trong đó, bảo hành đến 3 năm là ưu đãi độc quyền chỉ có tại FPT Shop, cũng là một trong những ưu đãi hấp dẫn nhất từ trước đến nay. Ngoài thời gian bảo hành chính hãng từ 1 - 2 năm, FPT Shop sẽ tặng thêm 1 năm bảo hành nữa, nâng tổng thời gian bảo hành của máy lên đến 3 năm. 1 năm bảo hành tặng thêm có giá trị tương đương gần 10% giá máy, hỗ trợ rất nhiều nếu máy phát sinh lỗi trong thời gian hết hạn bảo hành của hãng, giúp khách hàng tiết kiệm tối đa chi phí, yên tâm sử dụng dài lâu.
                    <br><br>
                    <strong>2. <a href="canphaibogapbanngaylaptuc">Nhiều laptop</a> giảm đến 4.000.000 đồng,</strong> chỉ từ 9.990.000 đồng là bạn đã có thể sở hữu chiếc laptop chính hãng, đáp ứng nhu cầu học tập, làm việc văn phòng, giải trí...
                    <br><br>
                    <strong>3. <a href="canphaibogapbanngaylaptuc">Laptop gaming</a> giảm đến 3.000.000 đồng,</strong> giá mới chỉ từ 19.990.000 đồng.

                    Laptop gaming nổi tiếng với thiết kế cool ngầu, cấu hình mạnh mẽ, màn hình lớn và sắc nét, bàn phím chuyên biệt... giúp bạn thỏa sức 'chiến' những tựa game hot nhất hiện nay. Laptop gaming tại FPT Shop rất đa dạng, cho bạn nhiều sự lựa chọn về thương hiệu (MSI, Lenovo, HP, Asus, Acer...), chip (AMD hay Intel), dung lượng ổ cứng, dung lượng RAM...
                    <br><br>
                    <strong>4. <a href="canphaibogapbanngaylaptuc">Laptop mỏng nhẹ</a> giảm đến 4.000.000 đồng</strong>

                    Đa số laptop mỏng nhẹ là dòng laptop cao cấp dành cho doanh nhân, trọng lượng chỉ từ 1,1kg, màn hình nhỏ, dễ dàng mang theo. Ngoài ra, máy cũng được trang bị cấu hình mạnh mẽ, đa nhiệm, viền màn hình cực mỏng để tối đa không gian trải nghiệm, bàn phím với nhiều cải tiến mới mẻ... Laptop mỏng nhẹ đang có giá từ 14.990.000 đồng, thuộc những thương hiệu nổi tiếng như Asus, HP, Lenovo...

                    Không chỉ được giảm giá khi trả thẳng, khách hàng còn được nhận thêm nhiều ưu đãi hấp dẫn khác phù hợp với nhu của mình:
                    <br><br>
                    <ul>
                        <li>Trả góp 0% lãi suất, khách hàng chỉ cần mang 2 loại giấy tớ cơ bản là CMND/CCCD và bằng lái xe (hoặc sổ hộ khẩu) là có thể mang chiếc laptop mới toanh về nhà.</li>
                        <li>Nhiều ưu đãi tặng kèm: giảm đến 35% màn hình LCD Samsung khi mua kèm laptop hoặc MacBook, giảm thêm 700.000 đồng khi mua <a href="canphaibogapbanngaylaptuc">máy in</a> Brother, giảm ngay 300.000 đồng cho phần mềm Microsoft 365 Personal, giá ưu đãi chỉ còn 990.000 đồng...</li>
                        <li>FPT Shop giao hàng và cài đặt tận nhà miễn phí. Đặc biệt, hệ thống còn có đội ngũ hỗ trợ kỹ thuật online thông qua phần mềm Ultraviewer, kỹ thuật viên sẽ kết nối và thao tác ngay trên máy của bạn, giúp bạn khắc phục lỗi và trở lại với công việc và học tập nhanh chóng nhất. Bạn có thể xem một số thao tác cài đặt cơ bản và cài đặt Ultraviewer tại đây.</li>
                    </ul>
                    Để chọn mua laptop, bạn có thể đến cửa hàng gần nhất, chọn mua online<strong> <a href="canphaibogapbanngaylaptuc">tại đây</a></strong>, hoặc gọi tổng đài 1800 6601 miễn cước để được tư vấn nhanh nhất.
                </div>
                <!-- ==========END NỘI DUNG ================== -->
                <hr>
            </div>
            <div class="col-md-2">
            </div>

        </div>
        <div class="row">
            <div class="col-md-1">
            </div>

            <div class="col-md-9">
                <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="" data-layout="standard" data-action="like" data-size="small" data-share="true"></div>
                <hr>
            </div>
            <div class="col-md-2">
            </div>

        </div>
        <div class="row">
            <div class="col-md-12 mt-4 border">

                <h5 class="pl-3 pt-3"><strong>BÀI VIẾT LIÊN QUAN</strong></h5>
                <div class="row">

                    <div class="col-md-4">

                        <div class="media p-3">
                            <img src="./images/lien-quan.jpg" alt="John Doe" class="mr-3 mt-0 " style="width:120px;">
                            <div class="media-body">
                                <p>
                                    <strong> Ngày độc thân 11/11, FPT Shop giảm đến 50% cho  hàng trăm sản phẩm 'hot'</strong><br>
                                    <span><small><a href="#">Tin khuyến mãi</a></small></span>
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">

                        <div class="media p-3">
                            <img src="./images/lien-quan.jpg" alt="John Doe" class="mr-3 mt-0 " style="width:120px;">
                            <div class="media-body">
                                <p>
                                    <strong> Ngày độc thân 11/11, FPT Shop giảm đến 50% cho  hàng trăm sản phẩm 'hot'</strong><br>
                                    <span><small><a href="#">Tin khuyến mãi</a></small></span>
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">

                        <div class="media p-3">
                            <img src="./images/lien-quan.jpg" alt="John Doe" class="mr-3 mt-0 " style="width:120px;">
                            <div class="media-body">
                                <p>
                                    <strong> Ngày độc thân 11/11, FPT Shop giảm đến 50% cho  hàng trăm sản phẩm 'hot'</strong><br>
                                    <span><small><a href="#">Tin khuyến mãi</a></small></span>
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">

                        <div class="media p-3">
                            <img src="./images/lien-quan.jpg" alt="John Doe" class="mr-3 mt-0 " style="width:120px;">
                            <div class="media-body">
                                <p>
                                    <strong> Ngày độc thân 11/11, FPT Shop giảm đến 50% cho  hàng trăm sản phẩm 'hot'</strong><br>
                                    <span><small><a href="#">Tin khuyến mãi</a></small></span>
                                </p>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">

                        <div class="media p-3">
                            <img src="./images/lien-quan.jpg" alt="John Doe" class="mr-3 mt-0 " style="width:120px;">
                            <div class="media-body">
                                <p>
                                    <strong> Ngày độc thân 11/11, FPT Shop giảm đến 50% cho  hàng trăm sản phẩm 'hot'</strong><br>
                                    <span><small><a href="#">Tin khuyến mãi</a></small></span>
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">

                        <div class="media p-3">
                            <img src="./images/lien-quan.jpg" alt="John Doe" class="mr-3 mt-0 " style="width:120px;">
                            <div class="media-body">
                                <p>
                                    <strong> Ngày độc thân 11/11, FPT Shop giảm đến 50% cho  hàng trăm sản phẩm 'hot'</strong><br>
                                    <span><small><a href="#">Tin khuyến mãi</a></small></span>
                                </p>

                            </div>
                        </div>
                    </div>




                </div>

            </div>
        </div>
        <div class="row mt-5 mb-5">
            <div class="col-md-12 border p-3">
                <h5 class="pt-2 mb-4"> <strong>Hỏi & Đáp</strong> <span class="pding">3</span></h5>
                <div class="form mb-5">
                    <textarea name="" id="" cols="130" rows="3" placeholder="Viết bình luận của bạn (Vui lòng gõ tiếng Việt có dấu)"></textarea>
                    <button type="button" class=" mau btn ">Gửi câu hỏi ?</button>
                </div>
                <div class="media">
                    <img src="./images/avt.jpg" class="align-self-start mr-3" style="width:60px;border-radius: 5px;">
                    <div class="media-body">
                        <h4>Media Top</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sedcccccccccccccccccccccccccccc do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <div class="media p-3">
                            <img src="./images/vu.png" alt="Jane Doe" class="mr-3 mt-3 rounded-circle" style="width:45px;">
                            <div class="media-body">
                                <h4>Jane Doe <small><i>Posted on February 20 2016</i></small></h4>
                                <p>Lorem ipsum...</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Media middle -->
                <div class="media mt-3">
                    <img src="./images/avt.jpg" class="align-self-start mr-3" style="width:60px;border-radius: 5px;">
                    <div class="media-body">
                        <h4>Media Middle</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                    </div>
                </div>

                <!-- Media bottom -->
                <div class="media mt-3">
                    <img src="./images/avt.jpg" class="align-self-start mr-3" style="width:60px;border-radius: 5px;">
                    <div class="media-body">
                        <h4>Media Bottom</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>