@model PhongVu.Application.Dto.AuthDto.ChangeDto

<form method="post">
    <div>
        <label asp-for="OldPassword">Old Pasword</label>
        <input type="password" asp-for="OldPassword" />
    </div>
    <div>
        <label asp-for="NewPassword">Old Pasword</label>
        <input type="password" asp-for="NewPassword" />
    </div>
    <button>Save</button>
</form>