<div class="contact">
    <div class="d-flex justify-content-center">
        <div class="khoi">
            <div class="container">
                <div class="row">
                    <h5><strong>Thông tin nhận hàng</strong></h5>  <img src="/images/xanh1.png" alt=""><br><br>
                    <form>
                        <div class="form-group">
                            <label for="inputAddress2"> <strong>Họ & tên</strong> </label>
                            <input type="text" class="form-control" id="inputAddress2" placeholder="Nhập tên của bạn">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputPassword4"> <strong> Số điện thoại</strong></label>
                                <input type="text" class="form-control" id="inputPassword4" placeholder="Nhập số điện thoại">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputEmail4"> <strong> Email</strong> </label>
                                <input type="email" class="form-control" id="inputEmail4" placeholder="Nhập email của bạn">
                            </div>

                        </div>
                        <hr>
                        <h5><strong>Địa chỉ nhận hàng</strong></h5><br>
                        <div class="form-row">

                            <div class="form-group col-md-6">
                                <label for="inputState"> <strong> Tỉnh/Thành phố</strong> </label>
                                <select id="inputState" class="form-control">
                                    <option selected>Chọn Tỉnh/Thành phố</option>
                                    <option>...</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputState"> <strong> Quận/Huyện</strong> </label>
                                <select id="inputState" class="form-control">
                                    <option selected>Chọn Quận/Huyện</option>
                                    <option>...</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputState"> <strong> Phường/Xã</strong>  </label>
                                <select id="inputState" class="form-control">
                                    <option selected>Choose...</option>
                                    <option>...</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputAddress2"> <strong>  Địa chỉ cụ thể</strong></label>
                                <input type="text" class="form-control" id="inputAddress2" placeholder="Số nhà, ngõ, tên đường...">
                            </div>
                        </div>

                        <button type="submit" class="gu btn btn-primary">Tiếp tục</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>