<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Phong vu shop</title>
  <link rel="shortcut icon" href="/images/favicon.ico">
  <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/fonts/fontawesome-pro-5.14.0-web/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="/libs/owlcarousel/assets/owl.carousel.min.css">
  <link rel="stylesheet" type="text/css" href="/libs/owlcarousel/assets/owl.theme.default.min.css">
  <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/cart.css">
    <link rel="stylesheet" href="/css/checkout-1.css">
    <link rel="stylesheet" href="/css/checkout.css">
@*    <link rel="stylesheet" href="/css/chi-tiet-bai-viet.css">*@
    @*<link rel="stylesheet" href="/css/tai-khoan.css">*@
</head>

<body>
  <header class="" id="header-top">
    <div class="header__banner">
      <div id="js-header-banner" class="owl-carousel owl-theme">
        <div class="item">
          <a href="">
            <img class="" src="./images/header_banner.jpg" alt="">
          </a>
        </div>
        <div class="item">
          <a href="">
            <img class="" src="./images/header_banner.jpg" alt="">
          </a>
        </div>
        <div class="item">
          <a href="">
            <img class="" src="./images/header_banner.jpg" alt="">
          </a>
        </div>
      </div>
      <!-- end #header__banner -->

      <div id="js-close-header-banner" class="btn-close-banner">
        <i class="fal fa-times"></i>
      </div>
      <!-- end .btn-close-banner -->

    </div>
    <!-- end .banner -->

    <div class="header__contact">
      <div class="container">
        <div class="d-flex justify-content-end pt-1 pb-1">
          <a href="" class="header__contact--link">
            <i class="fal fa-building"></i>
            <span class="contact__text">Hệ thống showroom</span>
            <span class="contact__text "></span>
          </a>
          <a href="" class="header__contact--link">
            <i class="fal fa-user-headset"></i>
            <span class="contact__text">Tư vấn mua hàng:</span>
            <span class="contact__text text-primary"> 1800 6867</span>
          </a>
          <a href="" class="header__contact--link">
            <i class="fal fa-user-headset"></i>
            <span class="contact__text">CSKH:</span>
            <span class="contact__text text-primary"> 1800 6865</span>
          </a>
          <a href="" class="header__contact--link">
            <i class="fal fa-newspaper"></i>
            <span class="contact__text">Tin công nghệ</span>
            <span class="contact__text"></span>
          </a>
          <a href="" class="header__contact--link">
            <i class="fal fa-cogs"></i>
            <span class="contact__text">Xây dựng cấu hình</span>
            <span class="contact__text"></span>
          </a>
        </div>
      </div>
      <!-- end .container -->
    </div>
    <!-- end .header__contact -->
  </header>
  <!-- end header -->
  <div class="container-fluid bg-white sticky-top">
    <!-- sticky-top -->
    <div class="container d-flex flex-nowrap justify-content-between align-items-center align-content-center pt-3 pb-3">
      <div class="header__logo" id="js-header-logo">
        <a href="/" class="header__logo--link"><img class="logo__img" src="/images/logo-full.svg" alt=""></a>
        <a href="/" class="header__logo--link"><img class="logo__img" src="/images/logo.svg" alt=""></a>
      </div>
      <!-- end .header__logo -->

      <div class="header__category pl-3" id="js-header-category">
        <button class="btn btn-outline-light"><i class="far fa-bars"></i> Danh mục sản phẩm</button>

        <div class="nav-scroll" id="js-nav-scroll" style="display:none">
          <!-- <div class="container"> -->
          <ul class="nav flex-column align-items-center bg-white">
            <li class="nav-item">
              <a class="nav-link active" href="category_page.html">
                <i class="fal fa-dryer-alt"></i> Điện máy - Điện da dụng
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="category_page.html">
                <i class="fal fa-laptop"></i> Laptop & Macboo
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="category_page.html">
                <i class="fal fa-laptop"></i> Tivi - Màn hình TV
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="category_page.html">
                <i class="fal fa-laptop"></i> Điện thoại & Thiết bị thông minh
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="category_page.html">
                <i class="fal fa-laptop"></i> PC - Máy tính đồng bộ
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="category_page.html">
                <i class="fal fa-laptop"></i> Màn hình máy tính
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="category_page.html">
                <i class="fal fa-laptop"></i> Hi-End Gaming
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="category_page.html">
                <i class="fal fa-laptop"></i> Phụ kiện & Thiết bị ngoại vi
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="category_page.html">
                <i class="fal fa-laptop"></i> Thiết bị âm thanh
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="category_page.html">
                <i class="fal fa-laptop"></i> Máy ảnh - Máy quay phim
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="category_page.html">
                <i class="fal fa-laptop"></i> Thiết bị văn phòng
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="category_page.html">
                <i class="fal fa-laptop"></i> Thiết bị mạng - An ninh
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="category_page.html">
                <i class="fal fa-laptop"></i> Giải pháp doanh nghiệp
              </a>
            </li>
          </ul>
          <!-- </div> -->
        </div>
        <!-- End .nav-scroll -->
      </div>
      <!-- end .header__category -->

      <div class="header__search pl-3 pr-3">
        <form action="" class="header__search--form" autocomplete="off">
          <input type="search" name="keyword" id="" class="search__input" placeholder="Nhập từ khóa cần tìm...">
          <button class="btn search__button "><i class="fal fa-search"></i></button>
        </form>
      </div>
      <!-- end .header__searrch -->

      <div class="header__funtion d-flex pt">
        <a class="header__funtion--link d-flex flex-column align-content-center align-items-center active" href=""
          title="Khuyến mãi">
          <i class="fal fa-tags"></i>
          <span class="js-scroll">Khuyến mãi</span>
        </a>
        <a class="header__funtion--link d-flex flex-column align-content-center align-items-center" href=""
          title="Đơn hàng">
          <i class="fal fa-clipboard-check"></i>
          <span class="js-scroll">Đơn hàng</span>
        </a>
        <a class="header__funtion--link d-flex flex-column align-content-center align-items-center" href=""
          title="Thông báo">
          <i class="fal fa-bell-on"></i>
          <span class="js-scroll">Thông báo</span>
        </a>
        <a class="header__funtion--link d-flex flex-column align-content-center align-items-center" href=""
          title="Tài khoản">
            @if (User.Identity.IsAuthenticated)
            {
                <span class="js-scroll">Xin chào <br /> @User.Identity.Name</span>
            }else{
                <i class="fal fa-user-circle"></i>
                <span class="js-scroll">Tài khoản</span>
            }
        </a>
        <a class="header__funtion--link d-flex flex-column align-content-center align-items-center" href=""
          title="Giỏ hàng">
          <i class="fal fa-shopping-cart"></i></i>
          <span class="js-scroll">Giỏ hàng</span>
        </a>
      </div>
      <!-- end .header__function -->

    </div>
  </div>
  <!-- end .sticky-top -->
  <!-- end .container .sticky-top-->
  @RenderBody()
  <!-- end .container-fluid -->
  <footer class="footer">
    <div class="footer__top bg-white">
      <div class="container">
        <div class="row pt-4">
          <div class="col-md-3 mb-3">
            <h5>Hỗ trợ khách hàng</h5>
            <a href="" class="footer__link">Thẻ ưu đãi</a>
            <a href="" class="footer__link">Trung tâm bảo hành</a>
            <a href="" class="footer__link">Thanh toán va giao hàng</a>
            <a href="" class="footer__link">Dịch vụ sữa chữa và bảo trì</a>
            <a href="" class="footer__link">Doanh nghiệp thanh thiết</a>

          </div>
          <div class="col-md-3 mb-3">
            <h5>Chính sách Mua hàng và Bảo hành</h5>
            <a href="" class="footer__link">Quy định chung</a>
            <a href="" class="footer__link">Chính sách bảo mật thông tin</a>
            <a href="" class="footer__link">Chính sách vận chuyển và lắt đặt</a>
            <a href="" class="footer__link">Chính sách bảo hành</a>
            <a href="" class="footer__link">Chính sách đổi trả và hoàn tiền</a>
            <a href="" class="footer__link">Chính sách trả góp</a>
          </div>
          <div class="col-md-3 mb-3">
            <h5>Thông tin Phong Vũ</h5>
            <a href="" class="footer__link">Giới thiệu Phong Vũ</a>
            <a href="" class="footer__link">Thông tin liên hệ</a>
            <a href="" class="footer__link">Hệ thống Showroom</a>
            <a href="" class="footer__link">Hỏi đáp</a>
            <a href="" class="footer__link">Tin công nghệ</a>
            <a href="" class="footer__link">Tuyển dụng</a>
          </div>
          <div class="col-md-3 mb-3">
            <h5>Liên hệ</h5>
            <a href="" class="footer__link"><i class="fab fa-facebook-square text-primary"></i>Phong Vũ Việt Nam</a>
            <a href="" class="footer__link"><i class="fab fa-youtube text-danger"></i>Phong Vũ Media</a>
            <a href="" class="footer__link"><i class="fas fa-users-class text-info"></i>Phong Vũ Hội</a>
            <a href="" class="footer__link">Hỗ trợ khách hàng: <span>cskh@phongvu.vn</span></a>
            <a href="" class="footer__link">Liên hệ báo giá <span>baogia@phongvu.vn</span></a>
            <a href="" class="footer__link">Liên hệ hợp tác <span>hoptac@phongvu.vn</span></a>
          </div>
          <div class="col-md-4 mb-3">
            <h5>Phương thức thanh toán</h5>
            <a href="" class="footer__link d-inline-block footer__link--pay"><i class="fal fa-qrcode"></i>QR-Code</a>
            <a href="" class="footer__link d-inline-block footer__link--pay"><i class="fas fa-money-bill-alt"></i>Tiền
              mặt</a>
            <a href="" class="footer__link d-inline-block footer__link--pay"><i class="fad fa-clock"></i>Trả góp</a>
            <a href="" class="footer__link d-inline-block footer__link--pay"><i class="far fa-money-check"></i>Internet
              Banking</a>

          </div>
          <div class="col-md-8 mb-3">
            <h5>Danh sách ngân hàng thanh toán online</h5>
            <a href="" class="footer__link d-inline-block footer__link--pay disabled"><img
                src="/images/bank/banklist.jpg" alt=""></a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-4 pt-3">
            <h5>CÔNG TY CỔ PHẦN THƯƠNG MẠI - DỊCH VỤ PHONG VŨ</h5>
            <p>
              © 1997 - 2020 Công Ty Cổ Phần Thương Mại - Dịch Vụ Phong Vũ
              <br>
              Giấy chứng nhận đăng ký doanh nghiệp: 0304998358 do Sở KH-ĐT TP.HCM cấp lần đầu ngày 30 tháng 05 năm 2007
            </p>
          </div>
          <div class="col-md-6 pt-3">
            <b>Địa chỉ trụ sở chính:</b>
            <br />
            Tầng 5, Số 117-119-121 Nguyễn Du, Phường Bến Thành, Quận 1, Thành Phố Hồ Chí Minh
            <br />
            <b>Văn phòng điều hành miền Bắc:</b>
            <br />
            Tầng 6, Số 1 Phố Thái Hà, Phường Trung Liệt, Quận Đống Đa, Hà Nội
            <br />
            <b>Văn phòng điều hành miền Nam:</b>
            <br />
            Tầng 11 Minh Long Tower, số 17 Bà Huyện Thanh Quan, Phường 6, Quận 3, TP. Hồ Chí Minh
          </div>
          <div class="col-md-2 pt-3 text-left">
            <a href="" class="footer__link footer__link--pay "><img src="/images/bank/da-dang-ky.png" alt=""></a>
            <a href="" class="footer__link footer__link--pay disabled"><img
                src="/images/bank/dmca-badge-w100-2x1-02.png" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- end .footer -->


  <div class="boxed__contact d-flex flex-column">
    <a href="#" class="icon__contact icon__contact--phone">
      <span class="title--icon">Hotline</span>
      <img src="/images/bank/phone.png" width="50" height="50" alt="">
    </a>
    <a href="#" class="icon__contact icon__email">
      <span class="title--icon">Email hỗ trợ</span>
      <img src="/images/bank/email.png" width="50" height="50" alt="">
    </a>
    <a href="#" class="icon__contact icon__contact--address">
      <span class="title--icon">Showroom</span>
      <img src="/images/bank/address.png" width="50" height="50" alt="">
    </a>
    <a href="#" class="icon__contact icon__contact--facebook">
      <span class="title--icon">Like fanpage & trúng quà mini mỗi ngày!</span>
      <img src="/images/bank/facebook.png" width="50" height="50" alt="">
    </a>
    <a href="#header-top" class="mb-0 mt-auto icon__contact icon__move--top">
      <i class="fal fa-chevron-up"></i>
    </a>
    <a href="#" class="mb-0 icon__contact icon__contact--message">
      <img src="/images/bank/message.png" width="60" height="60" alt="">
    </a>
  </div>
  <!-- end icon right -->
  <div class="icon__promotion">
    <a href="#" class="mb-0 icon__contact icon__contact--message">
      <span class="title--icon">KHUYẾN MÃI HÔM NAY</span>
      <img class="image--promotion" src="/images/bank/ring-01.png" width="60" height="60" alt="">
      <i></i>
    </a>
  </div>

  <script type="text/javascript" src="/js/jquery-3.5.0.min.js "></script>
  <script type="text/javascript" src="/libs/owlcarousel/owl.carousel.min.js "></script>
  <script type="text/javascript" src="/libs/bootstrap/js/bootstrap.bundle.js"></script>
  <script src="/js/countdown.js "></script>
  <script src="/js/index.js "></script>
  @RenderSection("Scripts", required: false)

</body>

</html>